<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Jsp_L6</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.edu.seiryo.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.edu.seiryo.servlet.LoginServlet</servlet-class>
    <init-param>
      <param-name>beginTime</param-name>
      <param-value>080000</param-value>
    </init-param>
    <init-param>
      <param-name>endTime</param-name>
      <param-value>240000</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatManagerServlet</display-name>
    <servlet-name>ChatManagerServlet</servlet-name>
    <servlet-class>com.edu.seiryo.servlet.ChatManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatManagerServlet</servlet-name>
    <url-pattern>/ChatManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminManagerServlet</display-name>
    <servlet-name>AdminManagerServlet</servlet-name>
    <servlet-class>com.edu.seiryo.servlet.AdminManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManagerServlet</servlet-name>
    <url-pattern>/AdminManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTimeout</display-name>
    <servlet-name>SessionTimeout</servlet-name>
    <servlet-class>com.edu.seiryo.servlet.SessionTimeout</servlet-class>
  	<init-param>
        <param-name>endTime</param-name>
        <param-value>240000</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTimeout</servlet-name>
    <url-pattern>/SessionTimeout</url-pattern>
  </servlet-mapping>
</web-app>