*{
	margin: 0px;
	padding: 0px;
}




/* 总尺寸 宽1190 */
header{
	width: 100%;
	overflow:hidden;
	margin: 0px auto;
}
header #div_back{
	height: 36px;
	width: 100%;
	background-color: #F5F5F5;
}

header #div_back #div_ul{
	width:1190px;
	height: 36px;
	margin: 0px auto;
}

header #div_back #div_ul ul{
	margin:0px;
	padding:0px;
	list-style: none;
	font-size: 12px;
	cursor: pointer;
}

header #div_back #div_ul ul li{
	float: left;
	padding: 8px 12px;
	color: #666666;
	border: 1px #F5F5F5 solid;
}
header #div_back #div_ul ul li:hover{
	text-decoration: underline;
	/*transition:all 0.2s ease-in-out;*/
	/*color: #FF3366;*/
}
.div_wzdh div{
	width:190px;
	overflow:hidden;
	float: left;
	border-right: 1px #eeeeee solid;
	float: left;
}

.div_wzdh div p{
	margin-bottom: 2px;
	font-size: 14px;
	color: #000000;
	padding-left: 20px;
}

.div_wzdh div dl{
	margin: 0px;
	padding: 0px;
	list-style:none;
	font-size: 13px;
	padding-left: 20px;
	float: left;
	cursor: pointer;
}
.div_wzdh div dl dd{
	margin: 0px;
	padding: 0px;
	margin-top: 8px;
}
/*-------------------搜索栏------------------------*/
header #DaoHang{
	width:1190px;
	height: 110px;
	margin: 0px auto;
}

header #DaoHang .one{
	width: 190px;
	height: 110px;
	float: left;
}

header #DaoHang .one img{
	margin-top: 8px;
}

header #DaoHang .two{
	width:394px;
	overflow: hidden;
	float:left;
	margin-top: 35px;
	margin-left:165px;
	float: right;
}
#text{
	width: 310px;
	height: 28px;
	outline: none;
	border: 2px #FF3366 solid;
	text-indent: 2em;
}
#ding{
	width: 100%;
	height: 53px;
	background: #ff3366;
}
#ding_border{
	width: 1190px;
	height: 53px;
	margin: 0px auto;
}
#ding_border img{
	margin-top: 12px;
	float: left;
	margin-right: 150px;
	margin-left: 10px;
}
#daohang{
	width:500px;
	height:53px;
	float: left;
}
#daohang ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color: #fff;
}
#daohang ul li{
	float: left;
	margin: 17px 17px;
}
/*
-------------------------------主体---------------------------------
*/
section {
	background: #f5f5f5;
	width: 100%;
	overflow: hidden;
}
#body{
	width: 1200px;
	overflow: hidden;
	margin: 0px auto;
	margin-bottom: 70px;
}
#left{
	width: 158px;
	overflow:hidden;
	float: left;
	margin-right: 10px;
	background: #fff;
	box-shadow: 0px 0px 5px #ccc;
	/* border-radius: 3px; */
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 10px;
	margin-left: 5px;
	
}
#left dl{
	font-size: 14px;
	margin-left: 25px;
	line-height: 23px;
}
#left dl dt{
	font-weight: bold;
	margin-bottom: 5px;
}
#left dl dt img{
	margin-right: 5px;
}
#left dl dd{
	margin-left: 16px;
	font-family: Simsun;
	font-size: 12px;
}
#left dl dd a{
	text-decoration: none;
	color: black;
}
[name=count]{
	color: #ff3366;
}
#right{
	width: 1020px;
	float: left;
	border-radius: 3px;
	margin-top: 10px;
}

#zhu{
	margin-top:10px;
	width: 1020px;
	height:800px;
	background: #fff;
	float: left;
	box-shadow: 0px 0px 5px #ccc;
	margin-bottom: 10px;
}
#zhu iframe{
	width: 1020px;
	height: 100%;
}
#zhu p{
	font-family: "microsoft yahei";
	font-size: 16px;
	font-weight: bold;
	color: #666;
	padding: 7px 20px;
	border-bottom: 1px solid #efefef;
}
.yuan{
	border-radius: 50%;
}

#back{
	
	display: inline-block;
	width: 125px;
	height: 25px;
	background: black;
	opacity:0.5;
	z-index: 999px;
	position: relative;
	top: -28px;
	left: 0px;	
}
#txtext{
	font-family: Simsun;
	font-size: 12px;
	color: #fff;
	display: inline-block;
	position: relative;
	top: -58px;
	left: 40px;
}
#zhu dl{
	overflow:hidden;
	margin: 0px;
	padding: 0px;
	margin-top: 30px;
	margin-left: 100px;
	border-bottom: 1px #f1f1f1 solid;
	padding-bottom: 25px;
}
#zhu dl dt{
	width:125px;
	height: 125px;
	overflow: hidden;
	border-radius: 50%;
	float: left;
	margin-right: 20px;
}
#zhu dl dd{
	line-height: 50px;
}
[type=text]{
	width: 140px;
	height: 25px;
	text-indent: 3px;
	outline: none;
	font-family: Simsun;
	border: 1px #ccc solid;
}
#zhu table{
	font-size:12px;
	font-family: Simsun;
	width: 800px;
	margin-left: 80px;
	margin-top: 28px;
}
#zhu table tr{
	line-height: 43px;
}
#zhu table td:nth-child(1){
	width: 100px;
	text-align: right;
}
[type=radio]{
	margin-right: 5px;
}
[type=submit]{
	background: #ff3366;
	border: 0px;
	color: #fff;
	padding: 6px 12px;
	border-radius: 5px;
}
.tishi{
	font-size: 12px;
	font-family: Simsun;
	margin-left: 10px;
}
.tishi img{
	vertical-align: middle;
}
#file{
	position: relative;
	top: -180px;
	display: inline-block;
	width: 125px;
	height: 125px;
	opacity:0;
	cursor: pointer;
}


/*
	--------------------------以下是页脚--------------------------------- 
 */
footer{
	width: 100%;
	overflow:hidden;
	margin-top: 10px;/*仅用于测试 往页脚上 加的   100px外边距  用的时候 可以删掉*/
	/*border:1px red solid;*/
}
footer #footer_manger{
	width: 1190px;
	overflow:hidden;
	margin: 0px auto;
}
#footer_manger p{
	text-align: center;
	font-size: 12px;
	margin-bottom: 5px;
	color: #666;
}
#footer_manger p:nth-of-type(1){
	margin-top: 12px;
}
#footer_manger p:nth-of-type(1) a{
	text-decoration: none;
	color: #666;
}
#footer_manger p:nth-of-type(1) span{
	color: #666;
	margin: 0px 3px;
}
#footer_manger p:nth-of-type(4){
	margin-bottom: 15px;
}

#footer_manger p a:hover{
	text-decoration: underline;
}
#footer_manger .style:hover{
	text-decoration: underline;
	cursor: pointer;
}
.dels:hover{
	text-decoration: underline;
	cursor: pointer;
	color: #ff3366;
}