<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Jsp_L2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.sml</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>SL1</display-name>
    <servlet-name>SL1</servlet-name>
    <servlet-class>com.edu.seiryo.SL.SL1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL1</servlet-name>
    <url-pattern>/SL1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SL3</display-name>
    <servlet-name>SL3</servlet-name>
    <servlet-class>com.edu.seiryo.SL.SL3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL3</servlet-name>
    <url-pattern>/SL3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SL4</display-name>
    <servlet-name>SL4</servlet-name>
    <servlet-class>com.edu.seiryo.SL.SL4</servlet-class>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:sqlserver://localhost:1433/bank</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>administrator</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>tiger</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL4</servlet-name>
    <url-pattern>/SL4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SL5</display-name>
    <servlet-name>SL5</servlet-name>
    <servlet-class>com.edu.seiryo.SL.SL5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL5</servlet-name>
    <url-pattern>/SL5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SL6</display-name>
    <servlet-name>SL6</servlet-name>
    <servlet-class>com.edu.seiryo.SL.SL6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL6</servlet-name>
    <url-pattern>/SL6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SL6_2</display-name>
    <servlet-name>SL6_2</servlet-name>
    <servlet-class>com.edu.seiryo.SL.SL6_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL6_2</servlet-name>
    <url-pattern>/SL6_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SL6_1</display-name>
    <servlet-name>SL6_1</servlet-name>
    <servlet-class>com.edu.seiryo.SL.SL6_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL6_1</servlet-name>
    <url-pattern>/SL6_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SL7_1</display-name>
    <servlet-name>SL7_1</servlet-name>
    <servlet-class>com.edu.seiryo.SL.SL7_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL7_1</servlet-name>
    <url-pattern>/SL7_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SL7_2</display-name>
    <servlet-name>SL7_2</servlet-name>
    <servlet-class>com.edu.seiryo.SL.SL7_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL7_2</servlet-name>
    <url-pattern>/SL7_2</url-pattern>
  </servlet-mapping>
</web-app>