*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

/* 总尺寸 宽1190 */
header{
    width: 100%;
    overflow:hidden;
    margin: 0px auto;
}
header #div_back{
    height: 36px;
    width: 100%;
    background-color: #F5F5F5;
}

header #div_back #div_ul{
    width:1190px;
    height: 36px;
    margin: 0px auto;
}

header #div_back #div_ul ul{
    margin:0px;
    padding:0px;
    list-style: none;
    font-size: 12px;
    cursor: pointer;
}

header #div_back #div_ul ul li{
    float: left;
    padding: 8px 12px;
    color: #666666;
    border: 1px #F5F5F5 solid;
}
header #div_back #div_ul ul li .div_wzdh{
    margin:0px;
    padding:0px;
    position: absolute;
    top:34px;
    width: 990px;
    /* height:0px; */
    height:242px;
    overflow:hidden;
    margin-left:-13px;
    border: 1px #eeeeee solid;
    border-top:0px;
    background-color:#ffffff;
    cursor: default;
    padding-top: 18px;
    z-index: 9999;
    /* opacity:0; */
    display:none;

}

.div_wzdh div{
    width:190px;
    overflow:hidden;
    float: left;
    border-right: 1px #eeeeee solid;
    float: left;
}

.div_wzdh div p{
    margin-bottom: 2px;
    font-size: 14px;
    color: #000000;
    padding-left: 20px;
}

.div_wzdh div dl{
    margin: 0px;
    padding: 0px;
    list-style:none;
    font-size: 13px;
    padding-left: 20px;
    float: left;
    cursor: pointer;
}
.div_wzdh div dl dd{
    margin: 0px;
    padding: 0px;
    margin-top: 8px;
}

.div_wzdh div dl dd:hover{
    color: blue;
}

header #div_back #div_ul ul .xia:hover{
    border: 1px #eeeeee solid;
    background-color: #ffffff;
}
/*-------------------搜索栏------------------------*/
header #DaoHang{
    width:1190px;
    height: 110px;
    margin: 0px auto;
}

header #DaoHang .one{
    width: 190px;
    height: 110px;
    float: left;
}

header #DaoHang .one img{
    margin-top: 8px;
}

header #DaoHang .two{
    width:540px;
    height: 69px;
    float:left;
    margin-top: 35px;
    margin-left:165px;

}

header #DaoHang .two img{
    position: absolute;
    margin-top: 10px;
    margin-left: 8px;
}
header #DaoHang .two input {
    width: 413px;
    height: 36px;
    outline: none;
    border: 2px #FF3366 solid;
    float: left;
    text-indent: 2em;
    margin-bottom: 5px;
}
header #DaoHang .two p{
    display:block;
    padding: 9.5px 42px;
    background-color: red;
    float: left;
    color: #fff;
    cursor: pointer;
}

header #DaoHang .two ul{
    list-style: none;
    font-size: 12px;
    clear:both;
    color:#666666;

}
header #DaoHang .two ul li{
    float: left;
}
header #DaoHang .two ul .shu{
    font-size:9px;
    color: #ddd;
    padding: 0px 10px;
}

/* -----------------导航条---------------- */

header #DaoHangTiao_back{
    width: 100%;
    height: 38px;
    background-color: #FF3366;
}
header #DaoHangTiao_back #DaoHangTiao{
    width:1190px;
    height: 38px;
    margin: 1px auto;
}

header #DaoHangTiao_back #DaoHangTiao ul{
    list-style: none;
    font-size: 15px;
    font-family: '微软雅黑';
    height:38px;
    clear: both;

}
header #DaoHangTiao_back #DaoHangTiao ul li{
    float: left;
}
header #DaoHangTiao_back #DaoHangTiao ul li a{
    display:block;
    text-decoration: none;
    color: #ffffff;
    padding: 9px 30px;
    transition:all 0.2s ease-in-out;
}
header #DaoHangTiao_back #DaoHangTiao ul li a:hover{
    background-color: #FF668C;
    transition:all 0.2s ease-in-out;
}
/*
-----------------------------主体---------------------------------
*/
section {
    width: 100%;
    overflow: hidden;
    background-color: #eef1f4;
    padding-top: 50px;
}
section #ShiPin{
    width: 1000px;
    overflow: hidden;
    border: 1px solid #e9ecef;
    margin: 0px auto;
    background-color: #fff;
    border-top: 2px #ff3366 solid;
    padding-top: 55px;
    padding-left: 95px;
    padding-right: 95px;
}
section #ShiPin p{
    font-size: 20px;
    margin-bottom: 5px;
}
section #ShiPin span{
    font-size:12px;
    color:#aaa;
}
section #ShiPin span img {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}
section #ShiPin video{

}
section #sp{
    width: 1000px;
    height: 200px;
    background-color: #f6f6f6;
}
#pinglun{
    width: 1000px;
    overflow: hidden;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
#tu{
    display: inline-block;
    padding: 14px 17px;
    color: #fff;
    font-size: 16px;
    background-color: #ff3366;
    position: relative;
    top:-10px;
    box-shadow: 2px 2px 3px #666;
    margin-bottom: 30px;
}
#danmu{
    width: 1000px;
    height: 80px;
    margin-bottom: 30px;
}
.zhezhao{
    width: 1000px;
    height: 550px;
    overflow: hidden;
    margin-top: 50px;
}

.switch {
    width:100px;
    float: left;
}
.btn_fath {
    margin-top:10px;
    position:relative;
    border-radius:20px;
    transition:all 0.2s ease-in-out;
}
.btn1 {
    float:left;
}
.btn2 {
    float:right;
}
.btnSwitch {
    height:40px;
    width:50px;
    border:none;
    color:#fff;
    line-height:40px;
    font-size:16px;
    text-align:center;
    z-index:1;
}
.move {
    z-index:100;
    width:40px;
    border-radius:20px;
    height:40px;
    position:absolute;
    cursor:pointer;
    border:1px solid #828282;
    background-color:#f1eff0;
    box-shadow:1px 2px 2px 1px #fff inset,0 0 5px 1px #999;
}
.on .move {
    left:60px;
}
.on.btn_fath {
    background-color:#44b549;
    height:43px;
    transition:all 0.2s ease-in-out;
}
.off.btn_fath {
    background-color: #828282;
    height: 43px;
    transition: all 0.2s ease-in-out;
}

#danmu input{
    float: left;
}
#danmu input:nth-of-type(1){
    width: 720px;
    height: 40px;
    margin-left: 30px;
    border-radius: 10px;
    border: 0px;
    border: 1px #ddd solid;
    outline: none;
    margin-top: 35px;
}
#danmu input:nth-of-type(2){
    width: 120px;
    height: 44px;
    border-radius: 10px;
    border: 0px;
    outline: none;
    color: #fff;
    background-color: #FF3366;
    margin-left: 20px;
    margin-top: 34px;
    float: right;
}
.string {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    position: relative;
    color: #000;
    font-size: 30px;
    font-family: "微软雅黑";
}

#ping{
    width: 1000px;
    background: #fff;
    margin: 0px auto;
    padding-left: 95px;
    padding-right: 95px;
    margin-top: 20px;
}
.lun{
    width: 1000px;
    overflow: hidden;
    border-bottom: 1px #e9ecef solid;
    padding-bottom: 20px;
}
.lun dl{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    margin-top: 10px;
}
.lun dt {
    margin: 0px;
    padding: 0px;
    float: left;
}
.lun dt img{
    border-radius: 50%;
    margin-right: 10px;
}
.lun dd{
    margin: 0px;
    padding: 0px;
}
.lun dd:nth-of-type(1){
    padding-top: 5px;
}
.lun dd:nth-of-type(2) {
    color: #ccc;
    padding-top: 1px;
    margin-bottom: 10px;
}
.lun span{
    font-size: 14px;
    color: #999;
    margin-left: 61px;
}
/*
	--------------------------以下是页脚---------------------------------
 */
footer{
    width: 100%;
    overflow:hidden;
    background-color: #F5F5F5;
    border-top:1px #ddd solid;
}
footer #footer_manger{
    width: 1190px;
    overflow:hidden;
    margin: 0px auto;
}
footer  #footer_manger #footer_back{
    width: 1190px;
    overflow:hidden;
    padding-top: 28px;
    border-bottom:1px #ddd solid;
}

#footer_back ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 12px;
    color: #666666;
    float: left;
    margin-right: 105px;
    margin-left: 15px;
}
#footer_back ul li{
    margin-bottom: 20px;
}
#footer_back ul:nth-of-type(4) li{
}
#footer_back ul:nth-of-type(4) li img{
    vertical-align:middle;
    padding-right: 5px;
}
#footer_back ul li:nth-of-type(1){
    font-size: 16px;
    font-weight: bold;
}

#footer_back dl{
    margin: 0px;
    padding:0px;
    font-size: 16px;
    font-weight: bold;
    color: #666;
    float: left;
}
#footer_back dt{
    margin-bottom: 15px;
}
#footer_back dd{
    text-align: center;
}
#footer_back dl:nth-of-type(1){
    margin-left: 120px;
}
#footer_manger p{
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
    color: #666;
}
#footer_manger p:nth-of-type(1){
    margin-top: 12px;
}
#footer_manger p:nth-of-type(1) a{
    text-decoration: none;
    color: #666;
}
#footer_manger p:nth-of-type(1) span{
    color: #666;
    margin: 0px 3px;
}
#footer_manger p:nth-of-type(4){
    margin-bottom: 15px;
}

#footer_manger p a:hover{
    text-decoration: underline;
}
#footer_manger .style:hover {
    text-decoration: underline;
    cursor: pointer;
}



#backhei{
	width: 50px;
	height: 50px;
	background: black;
	opacity:0.5;
}

#dingbu{
	list-style:none;
	width: 50px;
	overflow:hidden;
	position: fixed;
	right: 1%;
	bottom: 2%;
	
}
#dingbu li{
	height:50px;
	position: relative;
	top: 0px;
	overflow: hidden;
	margin-bottom: 3px;
	border-radius: 3px;
}
.quan{
	width: 44px;
	height: 100px;
	overflow: hidden;
	margin:0px auto;
	position:relative;
	top:-50px;
	transition:all 0.5s ease-in-out;
}
.quan img{
	margin-top: 3px;
}
.quan p{
	font-size: 12px;
	color: #fff;
	padding: 7px 10px;
}
#dingbu li:hover .quan{
	transform:translate(0px,-50px);
	transition:all 0.5s ease-in-out;
	cursor: pointer;
}