<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Jsp_L5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SL1_SessionServlet</display-name>
    <servlet-name>SL1_SessionServlet</servlet-name>
    <servlet-class>SL1_SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL1_SessionServlet</servlet-name>
    <url-pattern>/SL1_SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SL1_SessionServlet2</display-name>
    <servlet-name>SL1_SessionServlet2</servlet-name>
    <servlet-class>SL1_SessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL1_SessionServlet2</servlet-name>
    <url-pattern>/SL1_SessionServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SL1_SessionServlet3</display-name>
    <servlet-name>SL1_SessionServlet3</servlet-name>
    <servlet-class>SL1_SessionServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL1_SessionServlet3</servlet-name>
    <url-pattern>/SL1_SessionServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SL2</display-name>
    <servlet-name>SL2</servlet-name>
    <servlet-class>SL2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL2</servlet-name>
    <url-pattern>/SL2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SL3_1</display-name>
    <servlet-name>SL3_1</servlet-name>
    <servlet-class>SL3_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL3_1</servlet-name>
    <url-pattern>/SL3_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SL3_2</display-name>
    <servlet-name>SL3_2</servlet-name>
    <servlet-class>SL3_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SL3_2</servlet-name>
    <url-pattern>/SL3_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.edu.seiryo.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryUserServlet</display-name>
    <servlet-name>QueryUserServlet</servlet-name>
    <servlet-class>com.edu.seiryo.servlet.QueryUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryUserServlet</servlet-name>
    <url-pattern>/QueryUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.edu.seiryo.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidateServlet</display-name>
    <servlet-name>InvalidateServlet</servlet-name>
    <servlet-class>com.edu.seiryo.servlet.InvalidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidateServlet</servlet-name>
    <url-pattern>/InvalidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingServlet</display-name>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>com.edu.seiryo.servlet.ShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/ShoppingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingCarServlet</display-name>
    <servlet-name>ShoppingCarServlet</servlet-name>
    <servlet-class>com.edu.seiryo.servlet.ShoppingCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCarServlet</servlet-name>
    <url-pattern>/ShoppingCarServlet</url-pattern>
  </servlet-mapping>
</web-app>